<!DOCTYPE html>
<html>
    <head>
        <title>Firstblog</title>
        <link rel="stylesheet" href="/static/tachyons.min.css">
    </head>
    <body class="bg-washed-green dark-gray">
        <div class="helvetica">
            <div class="fl w-30 bg-green h4 ba bw1">
  
                <h1 class="dark-gray tr pr3 pt4">Name</h1>
            </div>
            <div class="fl w-70 bg-light-green h4 br bt bb bw1">
                <div class="dark-gray tr pr3 pt5">
                    <div class="w-14 mr3 dib">About</div>
                    <div class="w-14 mr3 dib">Learn</div>
                    <div class="w-14 mr3 dib">Food</div>
                    <div class="w-14 mr3 dib">Photo</div>
                    <div class="w-14 mr3 dib">Art</div>
                </div>
            </div>
        </div>
    </body>
</html>